.teamsWrapper {
  padding-left: 15px;
}

.teamPic {
  height: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.imgSize {
  width: 55px;
  display: inline-block;
}

.teamWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.team {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .teamPic {
    height: 25px;
  }
  .imgSize {
    width: 35%;
    display: inline-block;
  }
  .teamsWrapper {
    padding-left: 0;
  }
  .span {
    width: 65%;
  }
  .wrapper {
    width: 100%;
    justify-content: start;
  }
}
