.img {
  width: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  width: 100px;
}

.text {
  color: white;
  font-size: 25px;
  text-align: center;
}
