.headerWrapper {
  margin: 50px 20px 80px 45%;
  border: grey solid 1px;
  border-radius: 10px;
  background-color: #3C3C3C;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px 10px rgba(172, 177, 180, 0.6);
}

.scoreWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.direScore {
  color: #FF0000;
}

.radiantScore {
  color: #336600;
}