.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.img {
  width: 80px;
}

.text {
  font-size: 36px;
  color: #9900FF;
  margin-left: 15px;
}