.header {
  border: grey solid 1px;
  border-radius: 10px;
  background-color: lightgrey;
  margin: 20px 40px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.seriesWrapper {
  width: 15%;
  text-align: center;
}
.date {
  //width: 10%;
  //text-align: center;
}
.series {
  //width: 10%;
  //text-align: center;
}
.seriesType {
  width: 13%;
  text-align: center;
}
.winner {
  width: 15%;
  text-align: center;
}
.teams {
  padding-left: 20px;
  width: 25%;
}
.duration {
  width: 12%;
  text-align: center;
}
.matches {
  width: 20%;
  text-align: center;
}