.teamRadiant {
  color: #336600;
  font-size: 40px;
  margin-right: 15px;
}

.teamDire {
  margin-right: 15px;
  color: #FF0000;
  font-size: 40px;
}

.teamWrapper {
  margin-top: 30px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.winner {
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  background-color: grey;
  padding: 5px 10px;
}
